.dropzone {
  
    border: 2px dashed  orange; /* #F7A400 #ccc */
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
  
  .dropzone.active {
    border-color: orange;
    background-color: lightgray;
  }
  
  .dropzone p {
    font-size: 16px;
    margin: 0;
  }
  